.screen-container {
  margin-top: 32px;
  margin-bottom: 24px;
  padding-top: 6px;
  padding-top: 29px;
  padding-bottom: 22px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--screen-background);
  border-radius: 10px;
  /* border: 2px solid var(--error); */
}

.screen-wrapper {}

.result {
  text-align: right;
  color: var(--main-text);
  font-size: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
  font-weight: 700;
  line-height: 0.92;
  letter-spacing: -0.67px;
  overflow: hidden;
  white-space: nowrap;
}

.whole-equation {
  color: var(--main-text);
  text-align: right;
  letter-spacing: -0.67px;
  overflow: hidden;
  white-space: nowrap;
}

.expression {
  text-align: right;
  color: var(--main-text);
  font-weight: 400;
  line-height: 0.8;
}

.error-container {
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
}

.error-msg {
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  color: var(--error);
}
